body {
    padding: 20px;
    margin: 20px;
}

ul, li {
    list-style: none;
}

h1 {
    font-weight: 300;
}

h2 {
    text-align: center;
}

button {
    margin: 20px;
    width: 100px;
    padding: 5px;
    background: #fff;
    color: #212121;
}
.result {
    margin-top: 20px;
    background: lightpink;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img {
    width: 320px;
    height: auto;
}
.content {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.content__task {
    display: grid;
    place-items: center;
    background: lightpink;
}

p { color: red; }
code { background-color: #eee; }
